* {
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #fcf8ff !important;
}
::placeholder{
  font-family: 'Montserrat', sans-serif;
}
.title {
  font-size: 28px;
  font-family: "Russo One", sans-serif;
}
a {
  text-decoration: none;
  color: var(--color-primary);
  &:hover {
    color: var(--color-primary);
  }
}