@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-primary: #7318c4;
  --color-second-primary: #5d169c;
  --color-back: #f9f3ff;
  --color-back-modal: rgb(255, 255, 255, 60%);
  --color-text: rgba(0, 0, 0, 0.7);
}